<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Administrador</title>
</head>
<body>
	<div ng-controller="AppCtrl">
		<h1>{{hola}}</h1>
		<span app-version></span>
		<form action="/auth/twitter">
			<input type="submit" value="Tw">
		</form>
	</div>
	<!-- Script's -->
	<script src='/socket.io/socket.io.js'></script>
	<script src='/js/angularjs/angular.js'></script>
	<script src='/js/socket.io/socket.js'></script>
	<script src='/js/app/app.js'></script>
	<script src='/js/app/services.js'></script>
	<script src='/js/app/controllers.js'></script>
	<script src='/js/app/filters.js'></script>
	<script src='/js/app/directives.js'></script>
</body>
</html>
